<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form  action="survey" method="post">
      Your Name: <input type="text" name="name" value="">
      <br>
      Dojo Location:
      <select class="" name="location">
        <option value="Mountain View">Mountain View</option>
        <option value="Dallas" name="Dallas">Dallas</option>
        <option value="San Jose" name="San jOSE">San Jose</option>
        <option value="Seattle" name="Seattle">Seattle</option>
        <option value="Bellevue" name="Bellevue">Bellevue</option>
      </select>
      <br>
      Favorite Language:
      <select class="" name="language">
        <option value="Javascript" name="JavaScript">JavaScript</option>
        <option value="Python" name="Python">Python</option>
        <option value="Java" name="Java">Java</option>
        <option value="C" name="C">C</option>
        <option value="C++" name="C++">C++</option>
      </select>
      <br>
      Comment(optional):
      <br>
      <textarea name="comment" rows="8" cols="40"></textarea>
      <br>
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
