<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title></title>
  </head>
  <body>
    <strong><h1"color:blue">Submitted Information</h1></strong>
    <p>Name: <%= info.name%></p>
    <p>Dojo Location: <%=info.location%></p>
    <p>Favorite Language: <%= info.language%></p>
    <p>Comment : <%=info.comment%></p>
  </body>
</html>
