<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
     <h1>Hello testing</h1>

     <form class="" action="/users" method="post">
       Name: <input type="text" name="name" value="">
       <br>
       Age: <input type="text" name="" value="">
        <br>
         <input type="submit" name="" value="Submit">
     </form>

     <h1>Counter</h1>
    <p><%= count%> times</p>
  </body>
</html>
